@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

button:focus, input:focus {
  outline: #b3b3b3;
}

.module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 70px 20px 0;
  max-width: 1200px;
}

.module-middle {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: unset;
  margin-bottom: 50px;
}

.module-middle .module-message {
  margin: 70px auto;
  width: 50%;
  text-align: center;
}

.module-middle .module-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
}

.module-middle .module-partners .partners-container {
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
}

.module-middle .module-partners .partners-container::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#b3b3b3), to(white));
  background: linear-gradient(90deg, #b3b3b3, white);
  z-index: -1;
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

.module-message {
  width: 40%;
  margin-top: 70px;
}

.module-message h1 {
  font-size: 48px;
  font-weight: 700;
}

.module-message h2 {
  font-size: 36px;
}

.module-message p {
  margin: 20px 0;
  line-height: 150%;
  font-size: 18px;
}

.module-img {
  width: 50%;
}

.module-img img {
  width: 100%;
}

.get-app {
  width: 90%;
}

.get-app--img {
  margin: 10px 10px 10px 0;
  width: 170px;
}

.pay-mark--img {
  margin: 10px 10px 10px 0;
  height: 60px;
}

.menu-container-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 40px 0;
  background-color: white;
}

.top-menu-logo {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu-container-fixed.scrolled {
  border-bottom: 1px solid #d9d9d9;
}

.menu-container-fixed.scrolled .top-menu-logo {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  list-style: none;
}

.menu-list .menu-link {
  margin: 0 10px;
}

.menu-list .menu-link a {
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #333333;
}

.right-side--btn {
  padding: 10px 20px;
  border-radius: 50px;
  border-color: #333333;
  background-color: white;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.right-side--btn:hover {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(66, 68, 90, 0.3);
          box-shadow: 0px 0px 8px 0px rgba(66, 68, 90, 0.3);
}

.lang-link {
  position: relative;
}

.lang-list {
  visibility: hidden;
  position: absolute;
  right: 0;
  padding: 10px 0;
  width: 180px;
  list-style: none;
  border: 1px solid #b3b3b3;
  background-color: white;
  z-index: 1000;
}

.lang-sublink {
  margin: 0;
  padding: 15px;
  font-size: 18px;
}

.lang-sublink:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.hero {
  height: 100vh;
}

.footer {
  margin: 100px auto;
  max-width: 1200px;
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  max-width: 1200px;
  border-top: 1px solid #d9d9d9;
}

.footer-navigation h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 30px 0;
}

.footer-list {
  width: 200px;
  list-style: none;
}

.footer-element {
  margin-bottom: 5px;
}

.footer-link {
  display: block;
  padding: 5px 10px 5px 0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #333333;
}

.footer-legal-logo {
  margin: 30px 0;
}

.footer-legal-text {
  font-size: 14px;
  color: #b3b3b3;
}
/*# sourceMappingURL=style.css.map */