.footer {
  margin: 100px auto;
  max-width: $desktop-width;
  overflow: hidden; // TODO: for develpment purposes only
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 40px;
  max-width: $desktop-width;
  border-top: 1px solid $accent-gray-color;

  h3 {
    font-size: $font-size-menu;
    font-weight: $font-bold;
    margin: 30px 0;
  }
}

.footer-column {
  width: 200px;

  @media (max-width: $breakpoint-module) {
    width: 50%;
  }
}

.footer-list {
  list-style: none;
}

.footer-element {
  margin-bottom: 5px;
}

.footer-link {
  display: block;
  padding: 5px 10px 5px 0;
  text-decoration: none;
  font-size: $font-size-footer;
  font-weight: $font-semibold;
  color: $primary-black-color;
}

.footer-legal-logo {
  margin: 30px 40px;
}

.footer-legal-text {
  margin: 0 40px;
  font-size: $font-size-footer;
  color: $primary-gray-color;
}
