.menu-container-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 40px 20px;
  background-color: $secondary-light-color;
}

.top-menu-logo {
  width: 150px;
  transition: all 1s;
}

.menu-container-fixed.scrolled {
  border-bottom: 1px solid $accent-gray-color;
  .top-menu-logo {
    transform: scale(0.7);
  }
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $desktop-width;
  margin: 0 auto;
  width: 100%;

  @media (max-width: $breakpoint-menu) {
    flex-direction: column;
    // align-items: baseline;
  }
}

.left-side {
  display: flex;

  @media (max-width: $breakpoint-menu) {
    flex-direction: column;
  }
}

.menu-list {
  display: flex;
  align-items: center;
  margin-left: 30px;
  list-style: none;

  @media (max-width: $breakpoint-menu) {
    // display: none;
    flex-direction: column;
    margin: 20px 0;
    border-bottom: 1px solid $primary-gray-color;
  }
}

.menu-link {
  margin: 0 10px;

  a {
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: $font-semibold;
    color: $primary-black-color;
  }

  @media (max-width: $breakpoint-menu) {
    margin: 10px;
  }
}

.nav-menu {
  display: flex;
  align-items: center;

  @media (max-width: $breakpoint-menu) {
    flex-direction: column;
  }
}

.right-side--btn {
  padding: 10px 20px;
  border-radius: 50px;
  border-color: $primary-black-color;
  background-color: $secondary-light-color;
  font-weight: $font-bold;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 8px 0px rgba(66, 68, 90, 0.3);
  }
}

.lang-link {
  position: relative;
}

.lang-list {
  visibility: hidden; // TODO: javascript toggle
  position: absolute;
  right: 0;
  padding: 10px 0;
  width: 180px;
  list-style: none;
  border: 1px solid $primary-gray-color;
  background-color: $secondary-light-color;
  z-index: 1000;
}

.lang-sublink {
  margin: 0;
  padding: 15px;
  font-size: $font-size-normal;

  &:hover {
    background-color: $secondary-lightgray-color;
    cursor: pointer;
  }
}
