$primary-black-color: hsl(0, 0%, 20%);
$primary-gray-color: hsl(0, 0%, 67%);
$secondary-light-color: hsl(0, 0%, 100%);
$secondary-dark-color: hsl(0, 0%, 20%);
$secondary-lightgray-color: hsl(0, 0%, 97%);

$body-font: "Nunito", sans-serif;

$font-size-header: 48px;
$font-size-normal: 18px;
$font-size-big: 36px;
$font-size-menu: 16px;
$font-size-footer: 14px;

$font-bold: 700;
$font-semibold: 600;
$font-regular: 400;

$tablet-width: 640px;
$desktop-width: 1200px;
